@import "bootstrap/scss/bootstrap";

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
    z-index: 1500;
}
.bd-mode-toggle .bi {
    width: 1em;
    height: 1em;
}
.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}
.card-link:hover {
    cursor: pointer;
}


.text-bg-dark {
    background-color: #3D2017 !important;
}

a {
    color: #4B6E03 !important;
    text-decoration: none;
}

a:hover {
    color: #8BAE43 !important;
}

.h1, h1 {
    color: #3D2017 !important;
}

.btn-outline-primary {
    --bs-btn-color: #6B8E23;
    --bs-btn-border-color: #6B8E23;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8BAE43;
    --bs-btn-hover-border-color: #6B8E23;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6B8E23;
    --bs-btn-active-border-color: #6B8E23;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6B8E23;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6B8E23;
    --bs-gradient: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6B8E23;
    --bs-btn-border-color: #6B8E23;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8BAE43;
    --bs-btn-hover-border-color: #6B8E23;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6B8E23;
    --bs-btn-active-border-color: #6B8E23;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6B8E23;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6B8E23;
}


.element-link {
    cursor: pointer;
}

div.page {
    page-break-after: always;
    page-break-inside: avoid;
}

.content-sublist {
    margin-top: 30px;
    border: 1px solid #ccc;
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 15px;
    padding-right:25px;
}

.content-right {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px 10px;
}


.bg-custom-dark {
    background-color: #3D2017 !important;
}

.navbar-custom {
    background-color: #3D2017 !important;
}
















.zoom-container {
    height: 70vh;
    overflow: auto; /* Mostra scrollbar se zoomLevel > 1 */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
}

/* Rendi le scrollbar sottili per non disturbare */
.zoom-container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.zoom-container::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.note-0 {
    background-color: #fff9c4;
    border-left: 5px solid #fbc02d;
    color: #333;
}

.note-1 {
    background-color: #ffebee;
    border-left: 5px solid #e53935;
    color: #333;
}

.note {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 0.875rem;
    line-height: 1.4;    
}

.note-0:hover {
    background-color: #ffe8a1;
    border-color: #ffdf7e;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.note-1:hover {
    background-color: #f1b0b7;
    border-color: #ee969f;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.btn-xs {
    --bs-btn-padding-y: .07rem; 
    --bs-btn-padding-x: .3rem; 
    --bs-btn-font-size: .75rem;
}

.pointer {
  cursor: pointer !important;
}

.pointer:hover {
  filter: brightness(90%);
  transition: filter 0.2s;
}